.ve-init-mw-articleTarget,
.mw-editform {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.ve-init-mw-desktopArticleTarget-toolbar {
    flex: 1 100%;
}

.ve-init-mw-desktopArticleTarget-originalContent,
.wikiEditor-ui {
    flex: 3;
}
#gapfinder {
    flex: 1;
}

#gapfinder > div {
    background-color: #F8F9FA;
    padding: 1em;
}
.ve-init-mw-articleTarget #gapfinder > div {
    margin: -1.2em -1.4em -1.5em 1em;
    padding-top: 30px;
}

#gapfinder ol {
    margin: 0;
    list-style: none;
}

#gapfinder ol li {
    padding-top: 1em;
}
